{
    "propel": {
        "paths": {
            "schemaDir": "C:\\Users\\Lorenzo Toso\\PhpstormProjects\\TipressCMS-PHP",
            "phpDir": "C:\\Users\\Lorenzo Toso\\PhpstormProjects\\TipressCMS-PHP"
        }
    }
}